
[includeIf "gitdir:~/code/drw/"]
    path = ~/code/drw/.gitconfig
[color]
    ui = auto
[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
[diff]
    tool = vimdiff
[fetch]
    prune = true
[help]
    autocorrect = 10
[include]
    path = ~/.gitconfig_local
[pull]
    rebase = false
[init]
    defaultBranch = main
[push]
    default = current
[rerere]
    enabled = true
